<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Shows</title>
    {% load static %}
    <link rel='stylesheet' href='{% static 'allShow.css' %}'>
</head>
<body>
    <div id="container">
        <h1>All Shows</h1>
        <table>
            <tr>
                <td>ID</td>
                <td>Tittle</td>
                <td>Network</td>
                <td>Released Date</td>
                <td>Action</td>
            </tr>
            {% for show in all_shows %}
            <tr>
                <td>{{ show.id }}</td>
                <td>{{ show.tittle }}</td>
                <td>{{ show.network }}</td>
                <td>{{ show.released_date }}</td>
                <td>
                    <a href="shows/{{ show.id }}">Show</a>
                    <a href="shows/{{ show.id }}/edit">Edit</a>
                    <a href="shows/{{ show.id }}/destroy">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </table>
        <a href="/shows/new">Add a New Show</a>
    </div>
</body>
</html>