<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Detail</title>
    {% load static %}
    <link rel='stylesheet' href='{% static 'allShow.css' %}'>
</head>
<body>
    <div id="container">
        <a href="/">Go Back</a>
        <h1>TV Show {{ this_show.id }}</h1>
        <table>
            <tr>
                <td>Tittle: {{ this_show.tittle }}</td>
            </tr>
            <tr>
                <td>Network: {{ this_show.network }}</td>
            </tr>
            <tr>
                <td>Released Date: {{ this_show.released_date}}</td>
            </tr>
            <tr>
                <td>Description: {{ this_show.description }}</td>
            </tr>
            <tr>
                <td>Last Updated: {{ this_show.updated_at }}</td>
            </tr>
        </table>
        <a href="{{ this_show.id }}/edit">Edit</a>
        <a href="">|</a>
        <a href="{{ this_show.id }}/destroy">Delete</a>
    </div>
    
</body>
</html>